name: ci and cd pipeline making
on:
 push:
  branches: ["main"]
jobs:
  checkout:
   runs-on: ubuntu-latest
   steps:
   - name: checkout code
     uses: actions/checkout@v4
  build:
    runs-on: ubuntu-latest
    steps:
    - name: setup java
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
       
     
   
